* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: all-round-gothic; 
    font-style: normal;
    font-weight: 500;
        
}

.next-to-carousel-banners {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.next-to-carousel-banners a {
    border-bottom: 2px solid black ;
}

/* Welcome to Sauna MAsters */
.welcome-containerA {
    background-color: rgb(234, 167, 87);
    color: black;
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

.photo-containerA {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid black;
    justify-content: center;
}

.photo-containerA img {
    padding: 0 10px;
}
.welcome-text-container {
    width: 50%;
    padding: 5%;
}

.welcome-text-container h2 {
    padding-bottom: 7px;
    font-size: 32px;
    font-weight: 600;
}

.welcome-text-container p {
    line-height: 20px;
}

/* Welcome to Sauna Masters end */


/* Get to know us  */
@media only screen and (min-width: 720px) {
.get2 {
    background-color: brown;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-evenly;
}
.getContainer {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-evenly;
    text-align: center;
    
}

.get2h2{
    text-align: center;
    font-weight: 600 ;
    font-size: 32px;
}

.getContainer p {
    padding-top: 4px;
}

.getContainer p:first-of-type {
    font-weight: 600;
    padding-top: 15px;
}

.get2 img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
}

@media only screen and (max-width: 720px) {
    .get2 {
        background-color: brown;
        padding-top: 100px;
        padding-bottom: 100px;
        justify-content: space-evenly;
    }
    .getContainer {
        display: flex;
        flex-direction: row;
        padding-top: 50px;
        justify-content: space-evenly;
        text-align: center;
        
    }
    
    .get2h2{
        text-align: center;
        font-weight: 600 ;
        font-size: 32px;
    }
    
    .getContainer p {
        padding-top: 4px;
    }
    
    .getContainer p:first-of-type {
        font-weight: 600;
        padding-top: 15px;
    }
    
    .get2 img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .getContainer {
        display: flex;
        flex-wrap: wrap;
        /* ňew */
    }

    .getMark, .getPatrik, .getMarek, .getJarda {
        padding: 0 7px;
        /* new */
    }
}

@media only screen and (max-width: 687px) {
    .getMark, .getPatrik, .getMarek, .getJarda {
        padding-top: 25px;
    }
 }

 @media only screen and (max-width: 359px) {
    .getMarek {
        /* display: flex; ????? */
      flex-wrap: wrap;
    }
 }


/* Get to know us end */

/* Footer */
.footer-containerA {
    background-color: #FFFAEB;
    display: flex;
    flex-direction: row;
    padding: 50px 0;
  
   
}

.text-containerA {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5%;
    border-right: 1px solid black;
}

.contact-info {
    width: 50%;
    padding: 5%;
}

.footer-containerA h2 {
    margin-bottom: 7px;
    font-weight: 600;
}

.footer-containerA p {
    padding-bottom: 17px;
}
/* Footer end */